<header>


<div class="row logo-cont">

<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">

</div>

 <div id="logo" class="col-xl-6 col-lg-6 col-md-10 col-sm-10 col-xs-10">

  <div class="container-fluid">

    <a class="navbar-brand"><img width="100%" src="assets/logo.png"></a>

  </div>

</div>

<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">

</div>

</div>

</header>



<nav class="navbar navbar-expand-md navbar-light sticky-top blue-bg navbar-cont col-10 col-center-block">

<div class="row">

  <div class="col-12 col-center-block">

    <button class="navbar-toggler hidden-sm-up navbar-dark" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#mainMenu" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="mainMenu">

      <div class="col-xl-8 col-lg-8 col-md-8 menu-items-container">
        <ul class="navbar-nav">
          <li id="home-menu" class="nav-item mainMenuItem cool-link"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a></li>
          <li id="about-menu" class="nav-item mainMenuItem dropdown cool-link" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>About Us</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/who-we-are">Who We Are</a>
          <a class="dropdown-item" routerLink="/initiatives">Major COEA Initiatives</a>
          <a class="dropdown-item" routerLink="/message">Message From COEA Team</a>
        </div>
      </li>
          <li id="contact-menu" class="nav-item mainMenuItem cool-link"><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="nav-link">Contact Us</a></li>
        </ul>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-4 menu-items-container justify-content-between">
            <ul class="navbar-nav float-xl-right float-lg-right float-md-right float-sm-left float-xs-left navbar-social">
              <li class="nav-item less-padding mainMenuItem dropdown cool-link"><a href="#" class="fa fa-twitter social"></a></li>
              <li class="nav-item less-padding mainMenuItem dropdown cool-link"><a href="https://www.facebook.com/Center-of-Excellence-for-Agriculture-COEA-270655200524204/" class="fa fa-facebook social"></a></li>
              <li class="nav-item less-padding mainMenuItem dropdown cool-link"><a href="https://www.linkedin.com/in/coea-l-720b2018b" class="fa fa-linkedin social"></a></li>
              <li class="liner"><img src="assets/line.png" height="40" /></li>
              <li class="nav-item mainMenuItem cool-link"><a href="#" class="nav-link">Language</a></li>
            </ul>
          </div>


    </div>

</div>

</div>

</nav>
