.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.navbar-brand .col-sm {

  margin-left: 1rem;

}

.navbar-brand .col-xs {

  margin-left: 1rem;

}

#logo.col-sm {

  float: none;
  display: block;
  margin: 0 auto;

}


#logo.col-xs {

  float: none;
  display: block;
  margin: 0 auto;

}

.logo-cont {margin-top: 50px;}

.navbar-cont { margin-top: 30px; }

.language { float:right; color: #eaeaea !important; }

.language a {color: #eaeaea !important; font-weight: bold;}

.menu-items-container { padding-top: 0px; padding-bottom: 0px;}

.mainMenuItem {
  height: 45px;
  padding-right: 20px;
  padding-left: 20px;
}


.mainMenuItem a {color: #eaeaea; font-weight: bold;}

.mainMenuItem :hover {color: #eaeaea; font-weight: bold;}

.social { padding-top: 12px !important; color: #eaeaea; text-decoration: none;

  height: 50px;
  margin: 0 auto;

}

.social:hover { color: #fff; }

.blue-bg {background-color: #002f6c;}

.navbar-nav .dropdown-menu {
    background: #002f6c !important;
}

.navbar-social {
    width: 240px;
    float: right;
}

.dropdown-item:hover {

  color : #002f6c !important;

}

.dropdown-toggle { color :  #eaeaea !important;}


.active { border-bottom: 3px solid #eaeaea; height: 55px; color : #eaeaea !important;}

.active .col-sm { border-bottom: none; height: 55px;}


.cool-link { display:inline-block; margin-bottom: 0px; }

.cool-link:after {
  display:block;
  content: '';
  border-bottom: 3px solid #fff;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.cool-link:hover:after { transform: scaleX(1); }

.cool-link.fromRight:after{ transform-origin:100% 50%; }

.cool-link.fromLeft:after{  transform-origin:  0% 50%; }

.nav-link { padding-bottom: 20px; }

.less-padding { padding-left: 10px !important; padding-right: 10px !important;}

.liner { padding-left: 20px;}

@media (max-width: 767px) {

  .nav-link:hover{ border-bottom: none;}

  .active{ border-bottom: none; height: 55px;}

  .liner { display: none;}

}
