<div class="row footer">


<div class="social-icons-cont">
      <li class="footer-social"><a href="#" class="fa fa-twitter social"></a></li>
      <li class="footer-social"><a href="https://www.facebook.com/Center-of-Excellence-for-Agriculture-COEA-270655200524204/" class="fa fa-facebook social"></a></li>
      <li class="footer-social"><a href="https://www.linkedin.com/in/coea-l-720b2018b" class="fa fa-linkedin social"></a></li>
</div>



  <div class="col-12 col-center-block footer-text-cont">

      <p class="footer-text">
        The information provided on this website is not official U.S. Government information and does not represent the views or positions<br>
        of the U.S. Agency for international development or the U.S. Government Copyright 2019<br>
        2019 COEA All Rights Reserved
      </p>

  </div>

</div>
