.footer-social {

  float: left;

  padding-left: 20px;

  list-style: none;

}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.footer { background: #02111e; padding-top: 30px; padding-bottom: 30px; }

.footer-social a { color: #eaeaea; }

.footer-text-cont { margin-top: 20px; }

.footer-text { text-align: center; color: #eaeaea; font-size: 12px; }

.social-icons-cont {

  width:100px;
  margin: 0 auto;

}
