<app-header></app-header>


<!-- Header Picture -->

<div class="row up top-pic">

<div class="col-10 col-center-block">

<h1 class="carousel-text top-text">CENTER OF EXCELLENCE <br>FOR AGRICULTURE</h1>

</div>

</div>

<!-- Header Picture -->


<!-- Begin The Page Body -->


<div class="row">

<div class="col-10 col-center-block">

<!-- Begin Side Menu -->
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 side-menu-cont">
    <h1>ABOUT</h1>
    <div class="dash"></div>
    <h1 class="blue-text-header">US</h1>

    <ul class="side-menu">
      <li class="side-menu-item"><a routerLink="/who-we-are">WHO WE ARE</a></li>
      <li class="side-menu-item active-side"><img class="side-active-icon" src="assets/green-arrow.png" width="30px"/><a routerLink="/initiatives">MAJOR COEA’S INITIATIVES</a></li>
      <li class="side-menu-item"><a routerLink="/message">MESSAGE FROM COEA TEAM</a></li>
    </ul>


  </div>
<!-- End Side Menu   -->

<!-- Begin Main Content -->
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 main-content">

  <div class="col-12">
    <h1 class="who-header">MAJOR COEA’S INITIATIVE</h1>
  </div>

<!-- Begin Row -->
<div class="row content-row first-row">

  <div class="col-3  main-content-item">

    <div class="ini-icon content-row-item-first">
    <img src="assets/medal.png" width="40px" />
    </div>

  </div>

  <div class="col-9 content-row-item-first ini-cont">

    <h6 class="ini-header">High quality applied research (HQAR)</h6>

    <p>Meeting the challenges facing Egyptian agriculture requires high functioning, collaborative partnerships between academia, government, and the private sector to produce readily translatable research. The COEA will fund university research that solves real problems and informs policy, providing the spark needed for stakeholders to see the value in partnering with Egyptian universities. We will support the development of lab-to-market technologies along value chains, leading to a portfolio of high-impact translational research across Egypt Vision 2030 themes</p>

    <h6 class="ini-small-header">Technical Coordinators:</h6>

    <li class="ini-list">Dr. James Hill - Associate Dean Emeritus, International Programs Office, College of Agricultural and Environmetal Sciences University of California, Davis, </li>
    <li class="ini-list">Dr. Hazem Mansour – Professor of Ornamental Horticulture, Faculty of Agriculture Cairo University</li>


  </div>

  </div>
<!-- End Row -->

<!-- Begin Row -->
<div class="row content-row">

  <div class="col-3 main-content-item">

    <div class="ini-icon">
    <img src="assets/rocket.png" width="40px" />
    </div>

  </div>

  <div class="col-9 ini-cont">

    <h6 class="ini-header">INNOVATIVE INSTRUCTION AND CURRICULUM DESIGN (IICD)</h6>

    <p>The   COEA, through its IICD initiatives, will: 1) develop and implement industry-validated curricula in the partner universities that is informed by stakeholder and labor market needs; and 2) provide support and training to educators in innovative instructional delivery. In collaboration with MOHESR, the COEA will develop an agenda for curricular reforms at both undergraduate and graduate levels that aligns with national strategic plans and Egypt’s Strategic Objectives for Higher Education 2030 and incorporates best practices for broader participation in STEM</p>

    <h6 class="ini-small-header">Technical Coordinators:</h6>

    <li class="ini-list">Dr. Paul Ebner - Professor of Animal Sciences, College of Agricultural, Purdue University.</li>


  </div>

  </div>
<!-- End Row -->


<!-- Begin Row -->
<div class="row content-row">

  <div class="col-3 main-content-item">

    <div class="ini-icon">
    <img src="assets/education.png" width="40px" />
    </div>

  </div>

  <div class="col-9 ini-cont">

    <h6 class="ini-header">EXCHANGES, TRAINING, AND SCHOLARSHIPS (ETS; HUMAN CAPACITY DEVELOPMENT)</h6>

    <p>Curricular innovation and high quality, market-focused research must be driven by COEA and partner university faculty and students with the tools and capacity to facilitate change. The COEA will bring extensive US and Egyptian expertise to deliver training programs aimed at: 1) transforming core curricula and student learning outcomes; 2) shifting the focus of Egyptian faculty towards market-driven, private sector-oriented entrepreneurship; and 3) ensuring access for students of all backgrounds to all COEA initiatives.</p>

    <h6 class="ini-small-header">Technical Coordinators:</h6>

    <li class="ini-list">Dr. Nanda Joshi - Associate Professor, Animal Science – International Outreach, College of Agriculture & Natural Resources, Michigan State University</li>
    <li class="ini-list">Dr. Reda Moghaieb  – Professor of Genetics, Faculty of Agriculture, Cairo University.</li>


  </div>

  </div>
<!-- End Row -->


  </div>
<!-- End Main Content -->

</div>

</div>


<!-- End Page Body -->

<app-footer></app-footer>
