.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

p { text-align: justify;}

.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/9.jpg) no-repeat;
background-size:cover;
width: 100%;
height:400px;
margin-right: 0px !important;
margin-left: 0px !important;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #eaeaea; margin-top : 180px; font-weight: bold; }

.main-content { background: #eaeaea; padding-top: 80px; float: right; padding-bottom: 50px;}

.side-menu-cont { background: #ffffff; padding-top: 80px; float: left; padding-bottom: 50px;}

.dash { width: 80px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;
}

.blue-text-header { color: #002f6c; font-weight: bold; font-family: Proxima-Nova-Bold !important;}

.side-menu { margin-top: 60px; padding-left: 0px;}

.side-menu-item {

  list-style: none;
  margin-bottom: 30px;
  font-family: Proxima-Nova-Bold;

}

.side-menu-item a { color: #000000; }

.active-side a { color: #14772a; }

.side-active-icon { padding-right: 10px;}

.who-header {

  font-family: Proxima-Nova-Bold;

 }

 .main-content-item { float: left;}

 .content-row { margin-top: 0px;}

 .content-row-item-first { padding-top: 0px !important;}

 .first-row { margin-top: 50px; }

 .ini-icon { float: right; padding-top: 80px;}

 .ini-cont { border-left: 5px solid #14772a; padding-top: 80px;}

 .ini-header { color: #14772a; font-family: Proxima-Nova-Bold; font-weight: bold;}

 .ini-small-header { font-size: 16px; font-weight: bold;}

 .ini-list { margin-left: 20px;}
