<app-header></app-header>


<div class="row up top-pic">

<div class="col-10 col-center-block">

<h1 class="carousel-text top-text">CONTACT US</h1>

</div>

</div>


<!-- Contact Us -->


<div class="col-10 col-center-block contact-us">

<div class="row">

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">


    <h1 class="contact-text">REACH OUT</h1>
    <div class="dash-contact"></div>
    <h1 class="contact-text-bold">TO US</h1>

<div class="row">
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/location.png" /></a></li><p class="contact-texter">Center of Excellence for Agriculture, Research Park, Faculty of Agriculture Cairo University, Cairo University Road, Giza, Egypt, Postal Code: 1261</p></div>
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/phone.png" /></a></li><p class="contact-texter">+20 102 530 7777    |    +20 102 530 8888</p></div>
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/mail.png" /></a></li><p class="contact-texter">Info@coeag.org</p></div>
</div>

    <input class="contact-field" type="text" name="" placeholder="Name">
    <input class="contact-field" type="text" name="" value="" placeholder="Email">
    <textarea class="contact-message" name="name" placeholder="Message"></textarea>


  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="assets/map.png" width="100%"/>
  </div>

</div>

</div>


<!-- Contact Us -->

<app-footer></app-footer>
