.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/7.jpg) no-repeat;
background-size:cover;
width: 100%;
height:400px;
margin-right: 0px !important;
margin-left: 0px !important;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #eaeaea; margin-top : 200px; font-weight: bold; }

.contact-us { background : #011f3b; margin-top: -40px; margin-bottom: 40px; padding-top: 100px; padding-bottom: 100px; }

.contact-text { color: #eaeaea; }

.contact-text-bold { font-family: Proxima-Nova-Bold !important; color: #eaeaea; margin-bottom: 50px; }

.dash-contact {
    width: 150px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;
  }

.contact-field {width: 100%; height: 50px; margin-bottom: 30px; padding-left: 20px;}

.contact-message {width: 100%; height: 150px; padding-left: 20px;}

.who-we-are-cont { padding-bottom: 30px;}

.contact-icon { list-style: none; margin-bottom: 20px; width: 30px; float: left; margin-top: 5px;}

.contact-icon img { float: left; padding-right: 10px; }

.contact-icon a { color: white; float: left; text-align: justify; }

.contact-texter { color: white; float: left; text-align: justify; width: 80%; }
