<app-header></app-header>


<!-- Header Picture -->

<div class="row up top-pic">

<div class="col-10 col-center-block">

<h1 class="carousel-text top-text">CENTER OF EXCELLENCE <br>FOR AGRICULTURE</h1>

</div>

</div>

<!-- Header Picture -->


<!-- Begin The Page Body -->


<div class="row">

<div class="col-10 col-center-block">

<!-- Begin Side Menu -->
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 side-menu-cont">
    <h1>ABOUT</h1>
    <div class="dash"></div>
    <h1 class="blue-text-header">US</h1>

    <ul class="side-menu">
      <li class="side-menu-item"><a routerLink="/who-we-are">WHO WE ARE</a></li>
      <li class="side-menu-item"><a routerLink="/initiatives">MAJOR COEA’S INITIATIVES</a></li>
      <li class="side-menu-item active-side"><a routerLink="/message"><img class="side-active-icon" src="assets/green-arrow.png" width="30px"/>MESSAGE FROM COEA TEAM</a></li>
    </ul>


  </div>
<!-- End Side Menu   -->

<!-- Begin Main Content -->
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 main-content">

  <div class="col-12">
    <h1 class="who-header">MESSAGE FROM COEA TEAM</h1>
  </div>


<div class="row content-row">

  <div class="col-12 main-content-item">


<div class="messaage-details">

  <div class="message-pic">

    <img src="assets/dr-naglaa.png" width="70px;"/>

  </div>


  <h6 class="message-details-name">DR. NAGLAA ABDALLAH</h6>
  <p class="message-details-position">Chief of Party</p>

</div>




    <div class="quote-left">
      <img src="assets/quote1.png" width="40px;"/>
    </div>

<div class="quote-text">
  <p>Centre of Excellence for Agriculture (COEA), was launched on 26th of March, 2019 to be hosted at the Faculty of Agriculture- Cairo University under an agreement between the Ministry of Higher Education and Scientiﬁc Research (MOHESR) and United State Agency for International Development (USAID) to establish three Centers of Excellence, with a $90 million investment by the American people, each center will focus on one of three key sectors – agriculture, energy, and water – to strengthen the capacity of Egyptian universities to respond to changing public and private sector needs for applied research and skilled graduates in key technical ﬁelds</p>
</div>

    <div class="quote-right">
      <img src="assets/quote2.png" width="40px;"/>
    </div>

  </div>

  </div>


  </div>
<!-- End Main Content -->

</div>

</div>


<!-- End Page Body -->

<app-footer></app-footer>
