/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
    font-family: 'Proxima-Nova';
    src:url(assets/fonts/pn-regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Bold';
    src:url(assets/fonts/pn-bold.otf);
    font-weight: normal;
    font-style: normal;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body { font-family: Proxima-Nova !important; overflow-x: hidden;}


.slick-slider {
  width: 90%;
  margin: auto;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url(assets/pre.png) no-repeat;
  background-size:cover;
  left: -50px;
  top: 45px !important;
  width: 30px;
  height: 30px;
}

.next-slide {
  background: url(assets/next.png) no-repeat;
  background-size:cover;
  right: -50px;
  top: 45px !important;
  width: 30px;
  height: 30px;
}

.prev-slide:hover {
}

.next-slide:hover {
}
