<app-header></app-header>


<div class="row up top-pic">

<div class="col-12 col-center-block">

  <div class="col-10 col-center-block">

  <h1 class="carousel-text top-text">CENTER OF EXCELLENCE <br>FOR AGRICULTURE</h1>

  <button routerLink="/who-we-are" class="btn-full" type="button" name="button">LEARN MORE</button>

  </div>

</div>

</div>

<!-- Who We Are -->

<div class="col-10 col-center-block who-we-are">

<div class="row">

  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 who-we-are-cont">


    <h1>WHO</h1>
    <div class="dash"></div>
    <h1 class="blue-text-header">WE ARE</h1>

    <p class="who-we-are-text">

      Centre of Excellence for Agriculture (COEA), was launched on 26th of March, 2019 to be hosted at the Faculty of Agriculture-Cairo University under an agreement between the Ministry of Higher Education and Scientiﬁc Research (MOHESR) and United State Agency for International Development (USAID) to establish three Centers of Excellence, with a $90 million investment by the American people, each center will focus on one of three key sectors – agriculture, energy, and water – to strengthen the capacity of Egyptian universities to respond to changing public and private sector needs for applied research and skilled graduates in key technical ﬁelds.

    </p>

  <button routerLink="/who-we-are" class="btn-green" type="button" name="button">READ MORE</button>

  </div>

  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <img src="assets/2.jpg" width="100%"/>
  </div>

</div>

</div>

<!-- Who We Are -->


<!-- Our Partners -->

<div class="col-10 col-center-block who-we-are">

<div class="row">

<div class="col-12 col-center-block">

<div class="partners-header-cont">
  <h1>OUR</h1>
  <div class="dash"></div>
  <h1 class="blue-text-header">PARTNERS</h1>
</div>


</div>
</div>
</div>

<div class="row">


<div id="partners-col" class="col-12">


      <ngx-slick-carousel class="carousel partners"
                          #slickModal="slick-carousel"
                          [config]="slideConfig"
                          (init)="slickInit($event)"
                          (breakpoint)="breakpoint($event)"
                          (afterChange)="afterChange($event)"
                          (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide partners-img">

                <img src="{{ slide.img }}" alt="" width="100%">

          </div>
      </ngx-slick-carousel>


  </div>


</div>

<!-- Our Partners -->

<!-- Contact Us -->

<div class="col-12 contact-us">

<div class="col-10 col-center-block">

<div class="row">

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">


    <h1 class="contact-text">CONTACT</h1>
    <div class="dash-contact"></div>
    <h1 class="contact-text bold-header">US</h1>

<div class="row">
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/location.png" /></a></li><p class="contact-texter">Center of Excellence for Agriculture, Research Park, Faculty of Agriculture Cairo University, Cairo University Road, Giza, Egypt, Postal Code: 1261</p></div>
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/phone.png" /></a></li><p class="contact-texter">+20 102 530 7777    |    +20 102 530 8888</p></div>
    <div class="col-12"><li class="contact-icon"><a href="#" class=""><img width="20px" src="assets/mail.png" /></a></li><p class="contact-texter">Info@coeag.org</p></div>
</div>

    <input class="contact-field" type="text" name="" placeholder="Name">
    <input class="contact-field" type="text" name="" value="" placeholder="Email">
    <textarea class="contact-message" name="name" placeholder="Message"></textarea>
    <button class="btn-green contact-btn" type="button" name="button">SUBMIT</button>


  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="assets/map.png" width="100%"/>
  </div>

</div>

</div>

</div>

<!-- Contact Us -->

<app-footer></app-footer>
