.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/1.jpg) no-repeat;
background-size:cover;
height:500px;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #eaeaea; margin-top : 150px; font-weight: bold; }


.slider-cap { bottom: auto !important; top: 20% !important; right: auto !important; left: 10% !important;}

.carousel-text {text-align: left; font-weight: bold; font-family: Proxima-Nova-Bold !important;}

.btn-full {
position: absolute;
left: 0;
margin-top: 25px;
margin-left: 15px;
background: transparent;
border: 1px solid white;
padding: 10px;
color: white;
width: 150px;
}

.who-we-are { margin-top: 100px;}

.who-we-are-text {text-align: justify; font-size: 14px;}

.dash { width: 70px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;
}

.btn-green {

height: 40px;
width: 150px;
background: #14772a;
color: #ffffff;
border: none;
font-weight: bold;

}

.partners-header-cont { width: 280px; margin: 0 auto;}

.contact-us { background : #011f3b; margin-top: 50px; padding-top: 100px; padding-bottom: 100px;}

.contact-text {color: #eaeaea;}

.dash-contact {
    width: 150px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;}

.contact-field {width: 100%; height: 50px; margin-bottom: 30px; padding-left: 20px;}

.contact-message {width: 100%; height: 150px; padding-left: 20px;}

.who-we-are-cont { padding-bottom: 30px;}

.contact-icon { list-style: none; margin-bottom: 20px; width: 30px; float: left; margin-top: 5px;}

.contact-icon img { float: left; padding-right: 10px; }

.contact-icon a { color: white; float: left; text-align: justify; }

.contact-texter { color: white; float: left; text-align: justify; width: 80%; }

.bold-header { font-family: Proxima-Nova-Bold; font-weight: bold;}

.blue-text-header { color: #002f6c; font-family: Proxima-Nova-Bold; font-weight: bold;}

.partners-img { padding: 10px; }

.partners { margin-top: 60px; }

.contact-btn { float: right; margin-top: 30px; }
